{% extends "base.html" %}
{% block title %}Quote Request{% endblock %}
{% block content %}
   <!-- multistep form -->
   <div class="container" style="margin-top:80px;">
    <div class="row">
        <form class="col s12" action="submit" method="post" id="form">
            <div class="row">
                <div class="input field col s3">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>

                <div class="input field col s3">
                    <input id="last_name" type="text" class="validate">
                    <label for="first_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input field col s3">
                    <input id="cell_phone" type="text" class="validate">
                    <label for="cel_phone">cell phone</label>
                </div>

                <div class="input field col s3">
                    <input id="email" type="text" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <p>
                        <label>
                            <input class="with-gap" name="gender" type="radio" value="male" checked />
                            <span>Male</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="gender" type="radio" value="female" />
                            <span>Female</span>
                        </label>
                    </p>
                </div>
                <div class="col s3">
                    <p>
                        <label>
                            <input class="with-gap" name="marrital_status" type="radio" value="single" checked />
                            <span>Single</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="marrital_status" type="radio" value="Married" />
                            <span>Married</span>
                        </label>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s3">
                    <label for="birthdate" class>birthdate</label>
                    <input id="birthdate" type="text" class="datepicker">
                    

                </div>

                <div class=" input-field col s3">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Self</option>
                        <option value="2">Spouse/common law</option>
                        <option value="3">Sibiling</option>
                        <option value="3">Parent</option>
                        <option value="3">Child</option>
                        <option value="3">Other</option>
                      </select>
                      <label>Relation to primary driver:</label>
                </div>
            </div>




        </form>
{% endblock %}